.fade {
    opacity: 0;
    transition: 1s;
}

.in {
    transform: none;
    opacity: 1;
}

.to_top {
    transform: translateY(-200px)
}

.delay:nth-child(2) {
    transition-delay: 0.3s;
}

.delay:nth-child(3) {
    transition-delay: 0.6s;
}

.delay:nth-child(4) {
    transition-delay: 0.9s;
}

.delay:nth-child(5) {
    transition-delay: 1.2s;
}
