.section {
    width: 100%;
    height: 100vh;
}

.menu {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.menu_item {
    list-style: none;
    margin: 16px 0;
    cursor: pointer;
    color: #fff;
    user-select: none;
}

.menu_item.active {
    color: #000;
}

@media (max-width:1024px){
    body {
        overflow: auto;
    }
}