/* LIQUID GLASS STYLES */

.q_a_bg {
    background: rgba(245, 245, 245, 0.3);
    width: 100%;
}

.liquidGlass-wrapper {
    position: relative;
    display: flex;
}

.liquidGlass-effect {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
}

.liquidGlass-tint {
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
    z-index: 3;
    width: 500px;
}

/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./img/Q&A_img.png") center center;
    background-size: cover;
    animation: moveBackground 60s linear infinite;
} */


.menu > div > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.wrapper > div:nth-child(odd) {
    transform: translateX(-500px);
    padding: 50px 100px;
}

.wrapper > div:nth-child(even) {
    transform: translateX(500px);
    padding: 50px 100px;

}

/* Q&A 일반 시작*/
.q_a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../img/Q&A_img.png");
    background-size: cover;
}

.q_a_top_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    color: #fff;
}

.q_a_top_text > h2 {
    font-size: 64px;
}

.q_a_top_text > p {
    font-size: 32px;
}

.q_a_text_box {
    width: 1070px;
    height: 745px;
    background: rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(10px); */
    border: 1.5px solid#fff;
    border-radius: 25px;
    overflow: hidden;
    overflow: scroll;
}

.question {
    padding: 72px 56px;
}

.question > p {
    width: 100%;
    margin: 32px 0;
}

.question > .my_text > span,
.question > .other > span {
    width: 610px;
    height: 170px;
    border-radius: 130px;
    font-size: 24px;
    line-height: 35px;
    display: inline-block;
}

.question > .other > span {
    width: 530px;
}

.my_text {
    text-align: right;
}

.q_a_input {
    width: 1070px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.q_a_input > input {
    border: none;
    width: 1000px;
    background: none;
}

.q_a_input > input::placeholder {
    color: #fff;
    font-size: 16px;
}

.q_a_input > button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Q&A 일반 끝*/