        /* LIQUID GLASS STYLES */

        .bg {
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
        }

        .liquidGlass-wrapper {
            position: relative;
            display: flex;
        }

        .liquidGlass-effect {
            position: absolute;
            inset: 0;
            backdrop-filter: blur(3px);
            filter: url(#glass-distortion);
        }

        .liquidGlass-tint {
            position: absolute;
            background: rgba(255, 255, 255, 0.25);
        }

        .liquidGlass-shine {
            position: absolute;
            inset: 0;
            z-index: 2;
            box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
        }

        .liquidGlass-text {
            z-index: 3;
            width: 500px;
        }

        /* 채팅컨테이너로 이릠 변경 */
        body {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            /* 배경변경 */
            background: url("./image/Q&A_img.png") center center;
            background-size: cover;
            animation: moveBackground 60s linear infinite;
        }


        .menu>div>div:hover {
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2px);
        }


        @keyframes moveBackground {
            from {
                background-position: 0% 0%;
            }

            to {
                background-position: 0% -500%;
            }
        }

        .wrapper>div:nth-child(odd) {
            transform: translateX(-500px);
            padding: 50px 100px;
        }

        .wrapper>div:nth-child(even) {
            transform: translateX(500px);
            padding: 50px 100px;

        }