.q_a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("../img/Q&A_img.png");
    background-size: cover;
}

.q_a_top_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.q_a_top_text > h2 {
    font-size: 64px;
}

.q_a_top_text > p {
    font-size: 32px;
}

.q_a_text_box {
    width: 1070px;
    height: 745px;
    /* background: rgba(255, 255, 255, 0.3); */
    /* 백그라운드 뿌연거 투명한거 고민중... */
    background: none;
    border: 1.5px solid #8F8F8F;
    border-radius: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px;
}

/* glass 시작 */

.liquidGlass-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    max-width: 650px;
    padding: 25px 35px;
    margin: 30px 0;
    border-radius: 25px;
    overflow: hidden;
}

.liquidGlass-text {
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    width: 100%;
}

.liquidGlass-effect,
.liquidGlass-tint,
.liquidGlass-shine {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.liquidGlass-effect {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
}

.liquidGlass-tint {
    background: rgba(255, 255, 255, 0.1);
}

.liquidGlass-shine {
    z-index: 3;
    box-shadow:
        inset 2px 2px 1px rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px rgba(255, 255, 255, 0.5);
}

/* 말풍선 왼쪽 */
.q_a_text_box .liquidGlass-wrapper:nth-child(odd) {
    margin-right: auto;
    border-radius: 25px;
}

/* 말풍선 오른쪽 */
.q_a_text_box .liquidGlass-wrapper:nth-child(even) {
    margin-left: auto;
    justify-content: flex-end;
    border-radius: 130px;
}

/* glass 끝 */

/* 텍스트 입력 박스 시작 */

.q_a_input {
    width: 1150px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.q_a_input > input {
    border: none;
    width: 1100px;
    background: none;
    color: #fff;
}

.q_a_input > input::placeholder {
    color: #fff;
    font-size: 16px;
}

.q_a_input > button {
    background: none;
    border: none;
    cursor: pointer;
}

/* 텍스트 입력 박스 끝 */