/* 나눔명조 폰트 */
.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
}

.nanum-myeongjo-extrabold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
}
/* 나눔명조 폰트 끝 */


/* Interop 폰트 */
@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
/* Interop 폰트 끝 */

/* noto sans kr 폰트 */
.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* noto sans kr 폰트 끝 */


body {
    overflow-x: hidden;
}

.side_menu {
    position: relative;
}

.side_text {
    position: fixed;
    z-index: 1;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.side_text a {
    text-decoration: none;
    color: #fff;
}

.side_text > li {
    text-align: end;
    margin: 20px 0;
}


/* main_section 시작 */
.main_section {
    background: url(../img/main_img.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

header {
    padding: 32px;
}

.main_text {
    font-size: 68px;
    color: #fff;
    margin: 260px 0 0 100px;
}

.main_text_1 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

.main_text_2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    margin-top: 15px;
}

.main_section > button {
    width: 165px;
    height: 80px;
    border-radius: 50px;
    border: 0.5px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
}

.main_section > button > img {
    animation: main_downicon 2s infinite;
}

@keyframes main_downicon {
    0% {
        transform: translateY(-10px);
    }
     
    50% {
        transform: translateY(0);
    }
}

/* main_section 끝 */

/* introduction 시작 */
.introduction {
    background: url(../img/introduction_img.png);
    background-size: cover;
    height: 100vh;
}

.introduction_top_text {
    color: #fff;
}

.introduction_top_text > h2 {
    font-size: 96px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
}

.introduction_top_text > p {
    font-size: 32px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    display: flex;
    justify-content: end;
    margin-right: 330px;
}

.introduction_main_text {
    color: #fff;
    font-size: 36px;
    line-height: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    margin-top: 145px;
}
/* introduction 끝 */

/* visited_section 시작 */
.visited_section {
    background: url(../img/visited\ Places_img.png);
    background-size: cover;
    height: 100vh;
}

.visited_section > .visited_text {
    color: #fff;
    margin: 0 0 0 270px;
}

.visited_text > h2 {
    font-size: 40px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    padding: 30px 0 0 0;
}

.visited_text > p {
    font-size: 24px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    margin-top: 15px;
}

.visited_box {
    border: 1.5px solid #8F8F8F;
    border-radius: 20px;
    width: 1300px;
    height: 695px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 66px;
    transform: translateX(20%);
    margin: 30px 0;
    padding: 30px 0;
}

.visited_box_text > h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 15px;
}

.visited_box_text > p {
    font-size: 20px;
    color: #fff;
    margin-top: 40px;
    line-height: 26px;
}

.visited_box_shaer > button {
    width: 550px;
    height: 55px;
    font-size: 24px;
    color: #fff;
    border-radius: 50px;
    border: 0.5px solid #8F8F8F;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
/* visited_section 끝 */

/* choosing_resort 시작 */
.choosing_resort {
    background: url(../img/Choosing\ a\ Resort_img.png);
    background-size: cover;
    height: 100vh;
}

.choosing_resort_text {
    text-align: end;
    padding: 70px 240px 0px 0px;
}

.choosing_resort_text > h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.choosing_resort_text > p {
    font-size: 24px;
    line-height: 30px;
}

.choosing_resort_button {
    display: flex;
    gap: 20px;
    margin: 0 0 60px 225px;
}

.resort_button {
    width: 180px;
    height: 60px;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    color: #1B6B8D;
    background-color: #DEEFF6;
    cursor: pointer;
    box-shadow: inset 0 0 5px gray;
}

.resort_button_2 {
    width: 180px;
    height: 60px;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    color: #1B6B8D;
    background-color: #DEEFF6;
    cursor: pointer;
    box-shadow: 0 6px 6px -5px gray;
}

.choosing_resort_text_2 {
    display: flex;
    justify-content: center;
}

.choosing_resort_text_box {
    width: 865px;
    height: 280px;
    background-color: #fff;
    margin-top: 60px;
}

.choosing_resort_text_box > h3 {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 40px;
}

.choosing_resort_text_box > p {
    font-size: 24px;
    line-height: 35px;
    margin-left: 50px;
    margin-top: 40px;
}

.choosing_resort_ticket {
    position: absolute;
}

.choosing_resort_ticket > .ticket {
    position: relative;
    transform: translate(20%, -45%);
}

.choosing_resort_ticket > .ticket_end {
    position: relative;
    transform: translate(100%, -62%);
}


/* choosing_resort 끝 */

/* moments 시작 */
.moments {
    background: url(../img/Moments_main.png);
    background-size: cover;
    height: 100vh;
}

.moments_text {
    text-align: center;
    padding: 30px 0 0 0;
}

.moments_text > h2 {
    font-size: 48px;
}

.moments_text > p {
    font-size: 32px;
    margin: 15px 0 30px 0;
}

.moments_1 {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 110px;
}

.moments_2 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.moments_1 > p {
    font-size: 32px;
    width: 595px;
    height: 185px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border: 1.5px solid #A9A9A9;
    border-radius: 130px 130px 130px 0px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.moments_2 > p {
    font-size: 32px;
    width: 645px;
    height: 185px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border: 1.5px solid #A9A9A9;
    border-radius: 130px 130px 0px 130px;
    line-height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* moments 끝 */

/* travel_companion 시작 */
.travel_companion {
    background: url(../img/Travel\ Companion_img.png);
    background-size: cover;
    height: 100vh;
}

.travel_companion_text_box {
    display: flex;
    /* gap: 35px; */
    margin: 0 0 0 130px;
    padding: 30px 0 0 0;
}

.travel_companion_text_box > h2 {
    font-size: 36px;
    color: #fff;
}

.travel_companion_text_box > button {
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    border: 1px solid#8F8F8F;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 18px;
    margin: -10px 0 0 20px;
}

.travel_companion_text {
    line-height: 20px;
}

.travel_companion_text > p {
    font-size: 20px;
    color: #fff;
    margin: 10px 130px;
}

.travel_companion_box {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.travel_companion_box_1 {
    width: 580px;
    height: 700px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1.5px solid #8F8F8F;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px;
    margin: 20px;
}

.travel_companion_box_2 {
    width: 580px;
    height: 700px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1.5px solid #8F8F8F;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px;
    margin: 20px;
}

.companion_text_box_2 > .companion_user_img {
    width: 460px;
    height: 360px;
}

.companion_text_box {
    background: #999999;
    width: 460px;
    height: 175px;
    border-radius: 25px;
}

.companion_text_box {
    font-size: 24px;
}

.companion_text_box_2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.travel_companion_box_1 > button {
    width: 300px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 50px;
    font-size: 20px;
}

.travel_companion_box_2 > button {
    width: 300px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 50px;
    font-size: 20px;
}
/* travel_companion 끝 */

/* q&a 시작 */
.q_a {
    background: url(../img/Q&A_img.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.q_a_top_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    color: #fff;
}

.q_a_top_text > h2 {
    font-size: 64px;
}

.q_a_top_text > p {
    font-size: 32px;
}

.q_a_text_box {
    width: 1070px;
    height: 745px;
    background: rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(10px); */
    border: 1.5px solid#fff;
    border-radius: 25px;
    overflow: hidden;
    overflow: scroll;
}

.question {
    padding: 72px 56px;
}

.question > p {
    width: 100%;
    margin: 32px 0;
}

.question > .my_text > span,
.question > .other > span {
    width: 610px;
    height: 170px;
    border-radius: 130px;
    font-size: 24px;
    line-height: 35px;
    display: inline-block;
}

.question > .other > span  {
    width: 530px;
}

.my_text {
    text-align: right;
}

.q_a_input {
    width: 1070px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.q_a_input > input {
    border: none;
    width: 1000px;
    background: none;
}

.q_a_input > input::placeholder {
    color: #fff;
    font-size: 16px;
}

.q_a_input > button {
    background: none;
    border: none;
    cursor: pointer;
}

/* liquidGlass 효과 시작 */

/* glass 효과 끝 */
/* q&a 끝 */


/* common_sense 시작 */
.common_sense {
    background: url(../img/Common\ sense_main.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.common_sense > h2 {
    font-size: 128px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    /* transform: translateY(50%); */
}

.common_sense_box_1 {
    display: flex;
    position: absolute;
}

.common_sense_box_1 > p {
    width: 650px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    align-items: center;
}

.common_sense_box_2 {
    display: flex;
    position: absolute;
}

.common_sense_box_2 > figure {
    transform: translate(150%, 50%);
}

.common_sense_box_2 > p {
    width: 650px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* common_sense 끝 */

/* review 시작 */
.review {
    background: url(../img/Review_img.png);
    background-size: cover;
    height: 100vh;
}

.review > h2 {
    font-size: 64px;
    color: #000000;
}

.review_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: translateY(20%);
}

.review_slide {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 32px 56px;
    align-items: center;
}

.review_box_text {
    margin-top: 40px;
    width: 490px;
    height: 175px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.review_box_user {
    display: flex;
    gap: 6px;
    padding: 10px 18px;
}

.review_box_user > h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.review_box_text_2 {
    font-size: 16px;
    margin-left: 80px;
    line-height: 20px;
}

.review_box_text_3 {
    font-size: 16px;
    color: #31326F;
    margin-top: 10px;
}
/* review 끝 */